* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #728cb3;
}

main {
    width: 50%;
    height: 70%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px #000000;;
}

/*-------------------- Title Section --------------------*/
#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

#page-title h1 {
    letter-spacing: 5px;
    font-size: 2.5rem;
}

#page-title p {
    margin-top: 10px;
    font-size: 1.5rem;
}

/*-------------------- Words --------------------*/
#game {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrong-guesses {
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;
}

#wrong-guesses h4 {
    text-decoration: underline;
}

#wrong-letter-display {
    height: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

#word {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    height: 2.5rem;
}

.line {
    width: 30px;
    text-align: center;
    border-bottom: 5px solid blue;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*-------------------- The Hang Post --------------------*/

#rod {
    position: relative;
}

.gallows {
    background-color: brown;
    position: absolute;
}

#floor-part {
    width: 100px;
    height: 5px;
    right: 20px;
    top: 7px;
}

#pole-part {
    width: 5px;
    height: 200px;
    right: 95px;
    top: -188px;
}

#post-part {
    width: 100px;
    height: 5px;
    right: 20px;
    top: -190px;
}

#hook-part {
    width: 5px;
    height: 30px;
    right: 20px;
    top: -190px;
}

/*-------------------- The Unlucky Dude --------------------*/

#the-dude {
    position: relative;
}

.head {
    background-color: rgb(243, 166, 166);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    right: -3px;
    top: -165px;
    display: none;
}

.body {
    background-color: rgb(243, 166, 166);
    width: 30px;
    height: 80px;
    position: absolute;
    right: 7px;
    top: -145px;
    display: none;
}

.right-arm {
    background-color: rgb(243, 166, 166);
    width: 15px;
    height: 60px;
    position: absolute;
    right: 40px;
    top: -120px;
    transform: rotate(20deg);
    display: none;
}

.left-arm {
    background-color: rgb(243, 166, 166);
    width: 15px;
    height: 60px;
    position: absolute;
    right: -10px;
    top: -120px;
    transform: rotate(-20deg);
    display: none;
}

.right-leg {
    background-color: rgb(125, 186, 243);
    width: 15px;
    height: 50px;
    position: absolute;
    right: 5px;
    top: -67px;
    transform: rotate(-5deg);
    display: none;
}

.left-leg {
    background-color: rgb(125, 186, 243);
    width: 15px;
    height: 50px;
    position: absolute;
    right: 24px;
    top: -67px;
    transform: rotate(5deg);
    display: none;
}

/*-------------------- Notification Window --------------------*/
#notification {
    background-color: black;
    position: absolute;
    color: white;
    padding: 40px;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 30%;
}

#notification button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgb(44, 44, 44);
    color:  white;
    transition: 0.2s ease-in-out;
}

#notification button:hover {
    background-color: rgba(44, 44, 44, 0.5);
    transform: scale(1.1, 1.1);
}

#notification button:active {
    background-color: rgba(44, 44, 44, 0.8);
    transform: scale(1, 1);
}

#input-check {
    background-color: lightcyan;
    transition: 0.2s ease-in-out;
    padding: 40px;
    font-size: 1.2rem;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #000000;
    top: 0;
    display: none;
    transition: transform 0.5s ease-in-out;
}

